# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Build output
dist/

# OS files
.DS_Store
Thumbs.db

# Optional npm cache & logs
.npm
.npmrc
log/
*.log

*.swp
*.swo
.vscode/
*.sublime-workspace