.auth-container-outer {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
}

.auth-container-inner {
    max-width:650px;
    min-width:300px;
    padding:2rem;
}
