name: Docker Image CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.3.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.1.0
        with:
          registry:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v5.3.0
        with:
          context: ./backend
          file: ./backend/Dockerfile.prod
          push: true
          tags: peter6866/thebearbazaar-backend:latest

      - name: Build and push frontend Docker image for kubernets
        uses: docker/build-push-action@v5.3.0
        with:
          context: ./frontend
          file: ./frontend/Dockerfile.k8s.prod
          push: true
          tags: peter6866/thebearbazaar-frontend-k8s:latest
